<div *ngIf="routeService.currentRoute !== '/login' && routeService.currentRoute !== '/signup'">
  <mat-toolbar color="primary" class="navbar">
    <button mat-icon-button [matMenuTriggerFor]= "appMenu" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/images/logo.png" alt="Logo" class="navbar-logo">
    <span class="navbar-brand">
      <span class="stack">Stack</span>
      <span class="underflow">Underflow</span>
    </span>
    <span class="spacer"></span>

    <!-- Dropdown menu -->
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/login">Login</button>
      <button mat-menu-item routerLink="/signup">Signup</button>
      <button mat-menu-item routerLink="/questions">Questions</button>
      <button mat-menu-item routerLink="/answers">Answers</button>
    </mat-menu>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <div class="homepage-container">
    <div class="stack-underflow">
      <span class="stack">Stack</span>
      <span class="underflow">Underflow</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
